<%= form_with(model: university, local: true) do |form| %>
  <% if university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.label "Модуль образовательных программ" %>
  <%= form.file_field :mop %>

  <%= form.label "Каталог элективных дисциплин" %>
  <%= form.file_field :ked %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
